/* Custom scrollbar styles for react-native-web */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 12px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.2);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.3);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,0.2) transparent;
}
